 .Navbar-clock {
     text-align: center;
     font-size: calc(20px + 2vmin);
 }

 .Navbar-header {
     background-color: #282c34;
     min-height: 10vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: rgb(246, 241, 241);
 }